nav {
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #ee7e73;
  position: fixed;
  color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 20px;
  padding-left: 20px;
}

ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #f9f9f9;
}
.list {
  margin-right: 30px;
  font-size: 20px;
}
li::marker {
  color: #ee7e73;
}
a {
  text-decoration: none;
  color: #f9f9f9;
  font-size: 20px;
}

footer {
  background-color: #ee7e73;
  color: #f9f9f9;
  text-align: center;
  padding-top: 20px;
  margin-top: 100px;
  min-height: 70px;
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
}
